:root {
    --color-Text: #ffffff ;
    --bg-color-Body: #8689AC ;
    --bg-color-header:  #4d6388 ;
    --bg-color-form: #587099 ;
    --bg-color-button: #3F5576  ;
    --bg-color-hover: #6182b4;
    --bg-color-button: #2F3148 ;
    --text-color-error: #c8ff00  ;
    --text-color-done: #0dff00 ;
    --Color-playerX: rgb(0, 213, 39);
    --Color-playerY: rgb(0, 199, 213);
  }

body{
  background-color: var( --bg-color-Body);
  color: var(--color-Text);
}
header{
  background-color: var( --bg-color-header);
  color: var(--color-Text);
}
footer{
  color: var(--color-Text);

  bottom: 0;
  width: 100%; 
}

input{
  background-color: var(--bg-color-form) !important;
}
a{
  text-decoration: none;
  color: var(--color-Text);
}
.styletable{
  width: 100px;
  height: 100px;
  background-color: var(--bg-primary-button);
  color: var(--color-Text);
  font-size: 30px;
  justify-content: center;
}
.PlayerX{
  color: var(--Color-playerX);
}
.PlayerY{
  color: var(--Color-playerY);
}
.hide{
 visibility: hidden;
}


table ,tr,td,th {
  color: var(--color-Text) !important;
  background: transparent !important;
}

.form{
  background: var(--bg-color-form) ;
  border: 1px solid var(--bg-color-header);
  border-radius: 5px;
  color: var(--color-Text);
  margin: 5px;

}
.form>div.mb-3,.form>div.form-floating{
  padding: 10px;
  margin: 5px;
}